{% extends "base.html" %} {% block content %}
<div class="container">
  <form method="POST">
    <div class="mb-3">
      <label for="password1" class="form-label">Старый пароль</label>
      <input name="oldpassword" type="password" class="form-control" id="oldpassword">
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">Новый пароль</label>
      <input name="newpassword" type="password" class="form-control" id="newpassword">
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">Повторите пароль</label>
      <input name="newpassword2" type="password" class="form-control" id="newpassword2">
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
</div>
{% endblock %}